$lateralBreathingSpace: 230px;
$mezzanineSize: 430px;
$utilitiesClassNamePrefix: "s1-U";
$forceSuffix: "-force";
$primary: var(--md-theme-default-primary);
$accent: var(--md-theme-default-accent);
$white: #fff;
$bgColor: #fafafa;
$dark2: rgba(0, 0, 0, 0.54);
$dark3: rgba(0, 0, 0, 0.3);
$dark4: rgba(0, 0, 0, 0.12);