.md-icon.md-theme-default.md-icon-font {
  .md-chip.md-theme-default.md-primary & {
    color: #fff;
  }
  .md-chip.md-theme-default.md-deletable:not(.md-disabled) &, .md-chip.md-theme-default.md-clickable:not(.md-disabled) & {
    transition: none !important;
  }
  .md-chip.md-theme-default.md-deletable:not(.md-disabled):hover &, .md-chip.md-theme-default.md-clickable:not(.md-disabled):hover & {
    color: #fff;
  }
}