.md-table-head-container {
  padding: 0;
}

.md-table-head-container, .md-table-head-label {
  overflow: visible !important;
}

.md-table-head-label {
  width: 100% !important;
  height: 100%;

  & > .md-layout {
    height: 100%;
  }
}

.md-table-head-label {
  padding-left: 10px;
}

th .md-button {
  transform: translateX(-8px);
}

.s1-pd-lt-0-first-th-label .md-table-head-label {
  padding-left: 0 !important;
}
