[class].s1-instalment-square {
  & {
    width: 36px;
    height: 36px;
    text-align: center;
    border-radius: 2px;
    color: #fff;
    line-height: 36px;
    padding: 0;
  }
  &.md-button {
    margin: 0 4px 4px 0 !important;
    color: #fff;
    .md-button-content {
      text-transform: lowercase;
      font-weight: 400;
      font-size: 12px;
    }
  }
  .md-ripple {
    padding: 0 !important;
    line-height: 36px;
  }
}

$instalmentColors: (#ddd, #ffa726, #ef5350, #ab47bc, #5c6bc0, #009688, #8d6e63, #607d8b);
@include instalmentColors($instalmentColors)